[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pymupdf = "*"
reportlab = "*"
pypdf2 = "*"
frontend = "*"
pdf-regenerator = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
cm = "bash ./auto_commit.sh"
ib = "pip install --upgrade build"
bu = "python -m build"
